{% extends  'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    {% include 'header.html' %}
    


    <div class="container">

        <div class="row mt-2">
            <form action={% url 'appadmin:get_create_logic' %} method="GET">
                <button class="btn btn-primary"> Вернуться </button>
            </form>
        </div>

        {% if childs %}
            <div class="row mt-2">
                <div class="col-md-12 alert alert-success">
                    Уже созданные потомки
                </div>
            </div>

            <table class="table mt-2">
                <thead>
                <tr>
                    <th scope="col">ID (в Базе)</th>
                    <th scope="col">Текст сообщения </th>
                    <th scope="col"> Редактировать </th>
                    <th scope="col"> Удалить </th>
                </tr>
                </thead>
                <tbody>
                {% for message in childs %}
                    <tr>
                    <th scope="row">{{message.id}}</th>
                    <td>{{message}}</td>
                    <td>
                        <form action={% url 'appadmin:edit_form_message' message.id %} method="GET">
                          {% csrf_token %}
                         <button class="btn btn-success" type="submit"> Редактировать </button>
                        </form>
                    </td>
                    
                    <td> 
                        <form action={% url 'appadmin:delete_message' message.id %} method="POST">
                          {% csrf_token %}
                          <input type="hidden" name="_method" value="delete">
                          <input  class="btn btn-danger" type="submit" value="Удалить">
                        </form>
                    </td>

                    </tr>
                {% endfor %}
    
                </tbody>
            </table>
        {% endif %}
        
        <div class="row mt-2">
            <div class="col-md-12 alert alert-success">
               Родитель: {{message}}
            </div>
        </div>

        <form action={% url 'appadmin:get_form_create_childs' message.id %} method="GET">
            {% csrf_token %}

            {% for field in count_childs_form %}
            <div class="form-group">
                <label for="exampleInputEmail1">{{ field.label }}</label>
                <div type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    {{ field }}
                </div>
                {% if field.errors%}
                        {% for error in field.errors %}
                        <div class="alert alert-danger">
                            {{error}}
                        </div>
                        {% endfor %}
                {% endif %}
            </div>
            {% endfor %}

            <div class="row mt-2">
                <div class="col-md-12">
                    <button class="btn btn-success"> Задать количество потомков</button>
                </div>
            </div>

        </form>

        {% if count_childs %}

            <form action={% url 'appadmin:set_form_create_childs' message.id count_childs %} method="POST">
            {{ form_set_childs.management_form }}
            {% for form in form_set_childs %}
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{ field.label }}</label>
                            <div type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                {{ field }}
                            </div>
                            {% if field.errors%}
                                    {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        {{error}}
                                    </div>
                                    {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}
        
            {% endfor %}
            
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success"> Задать потомков </button>
                </div>
            </div>

            </form>
        {% endif %}

    </div>

{% endblock %}