{% extends  'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    {% include 'header.html' %}

    <div class="container">
        {% include 'messages/list_messages.html' %}
        <form action={% url 'appadmin:create_logic' %} method="POST">
            {% csrf_token %}
            
            <table class="table">
                {{ formset_messages.as_table }}
            </table>

            <button type="submit" class="btn btn-primary"> Создать логику общения </button> 
    </div>

{% endblock %}