{% extends  'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    {% include 'header.html' %}

    <div class="container mt-2">
        {% if not exists_logic %}
            <div class="row">
                <div class="col-md-12 alert alert-danger">
                    Прежде чем создать логику необходимо создать корневое сообщение
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-primary" role="alert">
                        Создайте ваше сообщение
                    </div>
                </div>
            </div>    
            
            <form action={% url 'appadmin:set_root_message' %} method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {% if field.name != 'display_condition' %}
                        <label for="exampleInputEmail1">{{ field.label }}</label>
                        <div type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            {{ field }}
                        </div>
                        {% if field.errors%}
                                {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    {{error}}
                                </div>
                                {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary mt-2">Создать сообщение </button>
            </form>
            
            {% if request.GET.status_msg == 'OK' %}
                <div class="row mt-2">
                    <div class="col-md-12">
                        <div class="alert alert-success" role="alert">
                            Ваше сообщение создано
                        </div>
                    </div>
                </div>    
            {% endif %}

        {% else %}
             {% include 'messages/list_message_logic.html' %}
        {% endif %}
    </div>


{% endblock %}