{% extends  'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    {% include 'header.html' %}

    <div class="container">
        
        <div class="row mt-2">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert">
                        В логике должна быть обязательно запись где 
                        id_parent = 0, это означает что это сообщение
                        является корнем
                       <hr>
                        Поле write_answer означает что это вопросительное сообщение
                       <hr>
                        Поле display_condition означает условие показа в зависимости 
                        от ответа на родительское сообщение
                </div>
            </div>
        </div>    


        {% if request.GET.bidirectionality == 'True' %}
            <div class="row mt-2">
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert">
                        Два элемента не могут быть родителем в дереве одновременно
                    </div>
                </div>
            </div>    
        {% endif %}

        {% if request.GET.root_errors == 'True' %}
            <div class="row mt-2">
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert">
                        В дереве обязательно должен быть родитель! (ID для родителя: 0)
                    </div>
                </div>
            </div>    
        {% endif %}

        {% if request.GET.conflict_has_parent == 'True' %}
            <div class="row mt-2">
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert">
                        Нет сообщения с id {{ request.GET.id }} <br/>
                        Поэтому он не может быть родителем
                    </div>
                </div>
            </div>    
        {% endif %}
        
        {% if request.GET.conflict_bidirectionality == 'True' %}
            <div class="row mt-2">
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert">
                       Невозможно быть родителем в дереве друг для друга!
                    </div>
                </div>
            </div>    
        {% endif %}

        {% if request.GET.errors_id == 'True' %}
            <div class="row mt-2">
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert">
                       У сообщения ({{ request.GET.first_message }}) и
                       ({{ request.GET.second_message }}) одинаковые родители
                    </div>
                </div>
            </div>    
        {% endif %}
        
        {% if request.GET.errors_message_id %}
            <div class="row mt-2">
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert">
                     {{ request.GET.errors_message_id }}
                    </div>
                </div>
            </div>   
        {% endif %}
        

        {% if request.GET.form_error == 'True' %}
            <div class="row mt-2">
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert">
                        {% autoescape off %}
                        {{ request.GET.formset_errors }}
                        {% endautoescape %}
                    </div>
                </div>
            </div>   
        {% endif %}

        {% if request.GET.delete_logic == 'True' %}
            <div class="row mt-2">
                <div class="col-md-12">
                    <div class="alert alert-success" role="alert">
                        Логика успешно удалена
                    </div>
                </div>
            </div>    
        {% endif %}
        
        {% if request.GET.error_parent_myself %}
            <div class="row mt-2">
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert">
                        {{ request.GET.error_parent_myself }}
                    </div>
                </div>
            </div>    
        {% endif %}
        
        {% if request.GET.create_logic %}
            <div class="row mt-2">
                <div class="col-md-12">
                    <div class="alert alert-success" role="alert">
                       Логика общения отредактирована!
                    </div>
                </div>
            </div>    
        {% endif %}
        
        {% if messages %}
            <form action={% url 'appadmin:edit_logic' %} method="POST">
                {% csrf_token %}
                <input type="hidden" name="_method" value="put">

                <table class="table">
                    {{ formset_messages.as_table }}
                </table>

                <button type="submit" class="btn btn-primary"> Редактировать логику общения </button> 
            </form>
        {% else %}
            
            <div class="row mt-2">
                <div class="col-md-12">
                    <div class="alert alert-success" role="alert">
                        Прежде чем редактировать логику, необходимо ее создать
                    </div>
                </div>
            </div>    
            
        {% endif %}
    </div>
{% endblock %}