{% extends  'base.html' %}

{% block content %}

    {% include 'header.html' %}

    <div class="conatiner mt-2">
    
    {% if exists_logic %}
        <div class="row justify-content-center">
            <div class="col-md-10 p-3 mb-2 bg-danger text-white">
                Начало
            </div>
        </div>
        
        {% for msg_que in list_msg_questions %}
            <div class="row justify-content-center">
                <div class="col-md-10 p-3 mb-2 bg-primary text-white">
                    {{ msg_que }}
                </div>
            </div>
        {% endfor %}
        
        <div class="row justify-content-center">
            <div class="col-md-10 p-3 mb-2 bg-danger text-white">
                Конец
            </div>
        </div>
    {% else %}

        <div class="row justify-content-center">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Логика общения не создана</h4>
                <p>
                    Чтобы просмотреть логику необходимо сначала
                    ее создать
                </p>
            </div>
        </div>

    {% endif %}

    </div>

{% endblock %}