{% block menu %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
            <a class="navbar-brand" href={% url 'appadmin:main' %}>FogstreamBot</a>
            <button class="navbar-toggler" type="button"data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Пользователи
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href={% url 'appadmin:info_users_list' %}>Информация </a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Логика общения
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href={% url 'appadmin:get_create_logic' %}>Создание и редактирование</a></li>
                            <a class="dropdown-item" href={% url 'appadmin:table_for_logic' %}>Просмотреть</a></li>
                            <li>
                                <form action={% url 'appadmin:delete_logic' %} method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="_method" value="delete">
                                    <button class="dropdown-item" type="submit">
                                        Удалить
                                    </button>
                                </form>    
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Настроить
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href={% url 'appadmin:token_get' %}>Токен Бота </a></li>
                        <li><a class="dropdown-item" href={% url 'appadmin:delay_get' %}> Задержку сообщений </a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href={% url 'appadmin:logout' %}>
                        Выйти
                        </a>
                    </li>
                </ul>
            </div>
            </div>
        </nav>

{% endblock %}