{% extends  'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    
    {% include 'header.html' %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <form method="GET" action={% url 'appadmin:info_users_list' %}>
                    <button type="submit" class="btn btn-primary"> Вернуться </button>
                </form>
            </div>
        </div>


        <table class="table mt-2">
            <thead>
              <tr>
                <th scope="col">ID_telegram</th>
                <th scope="col">Текст сообщения </th>
                <th scope="col">Ответ на вопрос</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for answer in answers %}
                <tr>
                   <th scope="row">{{answer.telegram_user_id}}</th>
                   <td>{{answer.message}}</td>
                    <td> 
                        {{answer.answer}}
                    </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}