{% extends  'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    {% include 'header.html' %}

    <div class="container mt-5">
        
        {% if request.GET.status_question == 'OK' %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success" role="alert">
                        Ваш вопрос создан
                    </div>
                </div>
            </div>    
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label for="exampleInputEmail1">{{ field.label_tag }}</label>
                <div type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    {{field }}
                </div>
                {% if field.errors%}
                        {% for error in field.errors %}
                        <div class="alert alert-danger">
                            {{error}}
                        </div>
                        {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary mt-2">Создать вопрос </button>
        </form>

        {% include 'questions/list_questions.html' %}

    </div>

{% endblock %}