<table class="table mt-2">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Текст вопроса </th>
        <th scope="col">Если утвердительно </th>
        <th scope="col">Если отрицательно </th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for question in questions %}
        <tr>
           <th scope="row">{{question.id}}</th>
           <td>{{question.question}}</td>
           <td>{{question.question_confirm}}</td>
           <td>{{question.question_not_confirm}}</td>
           <td>
            <form action={% url 'appadmin:edit_form_question' question.id %} method="GET">
              {% csrf_token %}
              <button class="btn btn-success" type="submit"> Редактировать </button>
            </form>
          </td>
          <td> 
            <form action={% url 'appadmin:delete_question' question.id %} method="POST">
              {% csrf_token %}
              <input type="hidden" name="_method" value="delete">
              <input  class="btn btn-danger" type="submit" value="Удалить">
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
</table>