<table class="table">
    <thead>
    <tr>
        <th scope="col">ID TELEGRAM</th>
        <th scope="col">Имя </th>
        <th scope="col">Фамилия </th>
        <th scope="col">Никнейм </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
        <th scope="row">{{user.id_user_telegram}}</th>
        
        {% if user.first_name == None %}
            <td>Не установлено </td>
        {% else %}
            <td>{{ user.first_name }}</td>
        {% endif %}

        {% if user.last_name == None %}
            <td>Не установлена</td>
        {% else %}
            <td>{{ user.last_name }}</td>
        {% endif %}
        
        {% if user.username == None %}
            <td>Не установлен</td>
        {% else %}
            <td>{{ user.username }}</td>
        {% endif %}

            <td> 
                <form action={% url 'appadmin:get_info_user' user.id_user_telegram %} method="GET">
                    <button type="submit" class="btn btn-primary"> Получить информацию о ответах </button>
                </form>

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>