{% extends  'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    
    {% include 'header.html' %}


    <div class="container mt-5">

      {% if request.GET.set_delay == 'True' %}
            <div class="row mt-2">
                <div class="col-md-12">
                    <div class="alert alert-success" role="alert">
                        Установлена задержка
                    </div>
                </div>
            </div>    
      {% endif %}


        <div class="row">
            <div class="col-md-10">

                <table class="table mt-2">
                    <thead>
                      <tr>
                        <th scope="col">ID (в Базе)</th>
                        <th scope="col">Текст сообщения </th>
                        <th scope="col"> </th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for message in messages_all %}
                        <tr>
                           <th scope="row">{{message.id}}</th>
                           <td>{{message}}</td>
                           <td>
                              <form action={% url 'appadmin:delay_edit_get' message.id %} method="GET">
                                {% csrf_token %}
                               <button class="btn btn-success" type="submit"> Установить задержку </button>
                              </form>
                            </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">

                <table class="table mt-2">
                    <thead>
                      <tr>
                        <th scope="col">Текст сообщения </th>
                        <th scope="col">Задержка</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for message in messages_delay%}
                        <tr>
                           <td>{{message.message}}</td>
                           <td>
                            {{message.delay}}
                           </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>

{% endblock %}