{% extends  'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    
    {% include 'header.html' %}

    <div class="container mt-5">

        <div class="row">
            <div class="col-md-10">
                Сообщениe:
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                    {{ message }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                    Задайте задержку в секундах
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <form method="POST" action={% url 'appadmin:delay_set' message.id %}>
                    {% csrf_token %}
                    {{ message_delay_form }}
                    <button type="submit" class="btn btn-primary"> Задать задержку </button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}