{% extends  'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    
    {% include 'header.html' %}

    <div class="container mt-5">
        
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-primary" role="alert">
                    Создайте ваше сообщение
                </div>
            </div>
        </div>    

        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label for="exampleInputEmail1">Текст сообщения</label>
                <div type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    {{field }}
                </div>
                {% if field.errors%}
                        {% for error in field.errors %}
                        <div class="alert alert-danger">
                            {{error}}
                        </div>
                        {% endfor %}
                {% endif %}
                <button type="submit" class="btn btn-primary mt-2">Создать сообщение </button>
            </div>
            {% endfor %}
        </form>
        
        {% if request.GET.status_msg == 'OK' %}
            <div class="row mt-2">
                <div class="col-md-12">
                    <div class="alert alert-success" role="alert">
                        Ваше сообщение создано
                    </div>
                </div>
            </div>    
        {% endif %}
        
        {% include 'messages/list_messages.html' %}

    </div>
{% endblock %}